@use "./partials/global" as *;


.landing-header {
  padding-left:5rem;
  min-height: 50.938rem;
  max-height: 70.938rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  &--destination-one{
    background-image: url(../assets/images/hawaii.jpg);
  }
  &--destination-two{
    background-image: url(../assets/images/iceland.jpg);
  }
  &--destination-three{
    background-image: url(../assets/images/greece.jpg);
  }

  &__title {
    color: $primary-color;
    font-size: 5rem;
    padding-top:5rem;
  }

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:2.5rem;
  }

  &__card {
    padding-bottom: 1.875rem;
    min-width: 16.625rem;
    max-width: 21.875rem;
    min-height: 22.5rem;
    max-height: 28.75rem;
    border-radius: 0.625rem;
    background-color: $primary-color;
    text-align: center;
  }
  &__activity-day {
    color: $default-color;
    border-bottom: 0.188rem solid $default-color;
    margin: 1.25rem;
  }
  &__activity-lists {
    padding: 0;
    & li {
      margin: 1.25rem;
      padding: 1rem 0;
      background-color: $secondary-color;
      list-style-type: none;
    }
  }
}
