* {
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

$primary-color: #ffffff;
$secondary-color: #fefaf5;
$wordmark-color: #335576;
$active-color: #db7a4e;
$default-color: black;

.page-header {
  background-color: $primary-color;
  color: $default-color;
  padding: 0.625rem 5rem;
  position: fixed;
  top:0;
  width:100%; 
  z-index:10;
  &__wrapper {
    max-width:1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $wordmark-color;
  }

  &--link{
    text-decoration: none;
    }
}

.primary-nav {
  display: flex;
  & li {
    list-style-type: none;
    &:hover {
      text-decoration: 0.125rem underline; 
    }
  }
  &__link {
    color: $default-color;
    padding: 0.625rem;
    text-decoration: none;
    list-style-type: none;
    &--highlight {
      text-decoration: 0.125rem underline $active-color;

    }
  }
}

.page-footer {
  background-color: $secondary-color;
  padding-top: 0.625rem;
  padding-left: 5rem;
  padding-bottom: 20px;
  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  
  }
  &__title {
    color: $wordmark-color;
  }
}

.heading {
  color: $active-color;
  text-transform: uppercase;
  margin: 0;
  font-size: 10px;
}

.business-hours-info {
  display: inline-block;
  vertical-align: top;
  padding-right: 0.625rem;
}

.footer-image {
  display: flex;
  justify-content: space-between;
}

.image-icon {
  padding:10px 10px 10px 0;
  // padding: 0.625rem 0.625rem 0.625rem 0;
  width: auto;
  height: 2.5rem;

}
